<%- include('partials/top.ejs') %>
    <main>
<a href="/edit/<%= profile._id %>" class="button">Edit your profile</a>
<a href="/" class="button">Logout</a>
</main>
<%- include('partials/bottom.ejs') %>