/* styling file */
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header, main{
    margin: 20px;
}


input[type=text], form>div>label{
    display: block;
}

input[type=number]{
    width: 50px;
}

form>div{
    padding-bottom: 10px;
}

input[type=number]{
    width: 50px;
}

.inline{
    display: inline;
}